@import '../../variables/variables.scss';

.eventDetail {
    &-about {
        padding: 0 4rem;
    }

    &-title {
        margin-bottom: 2rem;
        font-size: 6.4rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -.6rem;
        word-spacing: 1rem;
        text-shadow: 0 8px 16px $color-black;
    }

    &-content {
        margin-bottom: 4rem;
    }

    &-imageContainer {
        position: relative;
        margin-bottom: 2rem;
        width: 80%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-imageOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $color-background);
    }

    &-contentBottomRow {
        display: flex;
        justify-content: space-between;
    }

    &-date {
        margin-right: 2rem;
    }

    .addToFavoriteIconContainer {
        justify-content: center;
        flex-direction: column;
    }

    &-aboutTitle, &-rulesTitle {
        font-size: 3rem;
        font-weight: bold;
    }

    &-about {
        margin-bottom: 4rem;
    }

    &-aboutTitle {
        margin-bottom: 4rem;
    }

    &-aboutDescription {
        display: flex;
        flex-direction: column;
        line-height: 1.6;

        & > * {
            &:first-child {
                margin-bottom: 2rem;
            }
        }
    }

    &-rules {
        padding: 4rem;
        border-radius: .75rem;
        background-color: $color-black;
    }

    &-rulesTitle {
        margin-bottom: 4rem;
    }

    &-rulesDescription {
        display: flex;
        flex-direction: column;
        line-height: 1.6;

        & > * {
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .eventDetail {
        &-title {
            text-align: center;
        }

        &-imageContainer {
            margin: 0 auto 2rem auto;
        }

        &-contentBottomRow {
            justify-content: space-around;
        }
    }
}

@media only screen and (max-width: 425px) {
    .eventDetail {
        &-contentBottomRow {
            display: block;
        }

        &-eventInfo {
            margin-bottom: 2rem;
            text-align: center;
        }

        &-date {
            margin-right: 0;
        }

        .addToFavoriteIconContainer {
            flex-direction: unset;
            justify-content: center;
        }

        &-about {
            padding: 0;
        }

        &-rules {
            padding: 2rem;
        }
    }
}