@import '../../variables/variables.scss';

.eventDetail {
    &-title, &-content, &-about {
        padding: 0 4rem;
    }

    &-title {
        margin-bottom: 2rem;
        font-size: 4.5rem;
        font-weight: bold;
    }

    &-content {
        display: flex;
        margin-bottom: 4rem;
    }

    &-imageContainer {
        position: relative;
        width: 60%;
        margin-right: 2rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }

    &-imageOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $color-background);
    }

    &-date {
        margin-bottom: 2rem;
    }

    &-aboutTitle, &-rulesTitle {
        font-size: 3rem;
        font-weight: bold;
    }

    &-about {
        margin-bottom: 4rem;
    }

    &-aboutTitle {
        margin-bottom: 2rem;
    }

    &-aboutDescription {
        &--1 {
            margin-bottom: 2rem;
        }
    }

    &-rules {
        padding: 4rem;
        background-color: $color-black;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
    }

    &-rulesTitle {
        margin-bottom: 2rem;
    }
}