.loginPage {
    &-content {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .loginPage {
        height: calc(100vh - 28.5rem);
    }
}