@import '../../../variables/variables.scss';

.eventsContainer {
    height: 42rem;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    overflow-x: scroll;

    &-eventContainer {
        border-radius: 1rem;
    
        &:not(:last-child) {
            margin-right: 3rem;
        }

        &.active {
            .eventsContainer-purchaseButton {
                margin-top: .5rem;
            }
        }
    }

    &-purchaseButton {
        position: relative;
        width: 100%;
        padding: 2rem 0;
        background-color: $color-black;
        color: $color-white;
        border: none;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: bold;
        cursor: pointer;
        transition: margin .4s;
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -2rem;
            width: 3.5rem;
            height: 3.5rem;
            background-color: $color-background;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -2rem;
            width: 3.5rem;
            height: 3.5rem;
            background-color: $color-background;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            transform: rotate(180deg);
            z-index: 1;
        }
    }
}