@import "../../variables/variables.scss";

.form {
    width: 60%;
    border-radius: .75rem;
    background-color: $color-black;
    box-shadow: 0 8px 16px rgba($color-black, .4);

    .input {
        padding-bottom: 0;
    }
    
    &-formLabel {
        font-size: 2.4rem;
        padding: 3rem 3rem 0 3rem;
    }
    
    &-helpfulTextContainer {
        padding: 3rem 3rem 0 3rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }
    
    &-helpfulTextButton {
        text-decoration: underline;
        cursor: pointer;
    }

    
    .primaryButton {
        margin: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .form {
        width: 100%;
        border-radius: 0;
    }
}
