$color-primary: #BA0001;
$color-primary--light: #F90000;
$color-primary--dark: #7C0000;

$color-secondary: #3E0000;

$color-background: #13151C;

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #A9A9A9;

// #F50057
// #fd514e