$color-primary: #04d9ff;
$color-primary--light: #68E8FF;
$color-primary--lighter: #E5FBFF;
$color-primary--dark: #028299;
$color-secondary: #C724B1;
$color-background: #001519;

$color-black: #000000;
$color-black--light: #000D0F;
$color-white: #FFFFFF;
$color-grey: #A9A9A9;

// #04d9ff
// #68E8FF
// #015666
// #C724B1
// #001519

// #F50057
// #fd514e

// #19EFF7
