$color-primary: #04d9ff;
$color-primary--light: #F90000;
$color-primary--dark: #7C0000;

$color-secondary: #3E0000;

$color-background: #13151C;

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #A9A9A9;

// #F50057
// #fd514e

// #19EFF7
// #177C85

// #C724B1
// #99efff
// #04d9ff
// #002228

// #5D3FD3
// #4426FF
// #301934
// #483248