@import '../../variables/variables.scss';

.cartPage {
    .cartPageContainer {
        position: relative;
        display: flex;

        &-leftSide {
            flex: 1;

            .cartPageContainer {
                &-title {
                    margin-bottom: 2rem;
                    padding: 0 2rem;
                    z-index: 1;
                    font-size: 6.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: -.6rem;
                    word-spacing: 1rem;
                    text-shadow: 0 8px 16px $color-black;
                }
            }

            .cartEvents {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .eventTicket {
                    margin: 0 3rem 3rem 0;
                }
            }
        }

        &-rightSide {
            min-width: 34rem;
            margin-left: 4rem;

            .checkout {
                position: fixed;
                top: 15.5rem;
            }
        }

        .spinner {
            margin: 0 auto;
        }
    }
}