@import '../../variables/variables.scss';

.cartPage {
    .cartPageContainer {
        position: relative;
        width: 95%;
        max-width: 1024px;
        margin: 12rem auto 0 auto;
        display: flex;
        flex-direction: column;

        &-title {
            width: fit-content;
            margin-bottom: 2rem;
            padding: 0 2rem;
            z-index: 1;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        &-content {
            display: flex;

            .spinner {
                margin: 0 auto;
            }

            .cartEvents {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .eventTicket {
                    margin: 0 3rem 3rem 0;
                }
            }

        }

        &-leftSide {
            width: 100%;
        }

        &-rightSide {

        }
    }
}