@import '../../variables/variables.scss';

.cartPage {
    .cartPageContainer {
        position: relative;
        display: flex;

        &-title {
            margin-bottom: 2rem;
            line-height: 5rem;
            z-index: 1;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        &-leftSide {
            flex: 1;

            .cartEvents {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .eventTicket {
                    margin: 0 0.5rem 2rem 0.5rem;
                }
            }
        }

        &-rightSide {
            min-width: 34rem;
            margin-left: 4rem;

            .checkout {
                position: fixed;
                top: 15.5rem;
            }
        }

        .spinner {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .cartPage {
        .cartPageContainer {
            &-title {
                text-align: center;
            }  
        }
    }
}

@media only screen and (max-width: 1024px) {
    .cartPage {
        .cartPageContainer {
            &--emptyState {
                .cartPageContainer {
                    &-title {
                        font-size: 3.2rem;
                        letter-spacing: -0.3rem;
                        line-height: 3rem;
                        margin-bottom: -1.5rem;
                        text-align: center;
                    }
                }
            }

            &-leftSide {
                .cartEvents {
                    justify-content: space-between;
                }
            }

            .checkout {
                height: 16rem; 
                width: calc(100% - 4rem);
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 1rem 2rem 2rem 2rem;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background: linear-gradient(to top, #000000, #001519);
                box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.4);
                border: none;
                border-top: 1px solid black;
                z-index: 1;

                .totalPrice {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    .cartPageContainer {
        .eventTicket {
            height: 38.2rem;
        }
        
        .eventTicketInfoSide {
            min-width: 20rem;
            height: 32rem;
        }   
    
        .eventTicketPriceSide {
            width: 16rem;
            min-width: 16rem;
            height: 27.5rem;
        }
    }
}

@media only screen and (max-width: 435px) {
    .cartPageContainer {
        .eventTicket {
            height: 36.2rem;
        }

        .eventTicketInfoSide {
            min-width: 18rem;
            height: 30rem;

            &-content {
                padding: 0 1.5rem 3rem 1.5rem;
            }
        }  

        .eventTicketPriceSide {
            width: 14rem;
            min-width: 14rem;
            height: 25.5rem;

            &-header {
                margin-bottom: 1.5rem;
            }

            .eventTicketPriceRow {
                margin-bottom: 1.5rem;
            }
        } 
    }
}

@media only screen and (max-width: 395px) {
    .cartPage {
        .cartPageContainer {
            &-leftSide {
                .cartEvents {
                    justify-content: center;
                }
            }
    
            .eventTicket {
                height: 42.2rem;
            }
    
            .eventTicketInfoSide {
                min-width: 24rem;
                height: 36rem;
    
                &-content {
                    padding: 0 2rem 3rem 2rem;
                }
            } 
    
            .eventTicketPriceSide {
                min-width: 20rem;
                height: 31.5rem;
    
                &-header {
                    margin-bottom: 3rem;
                }
    
                .eventTicketPriceRow {
                    margin-bottom: 3rem;
                }
            }
        } 
    }
}