.addToFavoriteIconContainer {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-addToFavoriteIcon {
        width: 2rem;
        height: 2rem;
        opacity: 1;
        transition: opacity .2s;

        &--isLoading {
            opacity: .4;
        }
    }

    &-favouritesText {
        margin-left: 1rem;
    }
}


