.addToFavoriteIconContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;

    &--isLoading {
        opacity: .4;
    }

    &-addToFavoriteIcon {
        width: 2rem;
        height: 2rem;
    }

    &-favouritesText {
        margin-left: 1rem;
    }
}


