@import '../../variables/variables.scss';

.eventTicket {
    height: 42.2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba($color-black, .4);

    &:not(:last-child) {
        margin-right: 3rem;
    }

    &.active {
        .eventTicket-purchaseButton {
            margin-top: .5rem;
        }
    }

    &-purchaseButton {
        position: relative;
        width: 100%;
        padding: 2rem 0;
        background-color: $color-black;
        color: $color-white;
        border: none;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: bold;
        cursor: pointer;
        transition: all .4s;
    
        &.addToCart {
            background-color: #0A0B0F;
            cursor: not-allowed;
    
            &.active {
                background-color: $color-black;
                cursor: pointer;
            }
        }
    
        &::after {
            content: "";
            position: absolute;
            left: -1.6rem;
            top: -2rem;
            width: 3.5rem;
            height: 3.5rem;
            background-color: $color-background;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    
        &::before {
            content: "";
            position: absolute;
            right: -1.6rem;
            top: -2rem;
            width: 3.5rem;
            height: 3.5rem;
            background-color: $color-background;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            transform: rotate(180deg);
            z-index: 1;
        }
    }
}

@media only screen and (max-width: 480px) {
    .eventTicket {
        height: 37.2rem;

        &-purchaseButton {
            padding: 1.5rem 0;
        }
    }
}