@import '../../variables/variables.scss';

.eventTicketPriceRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &-ticketInfoContainer {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    
    &-ticketInfo {
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }
    
    &-ticketPrice, &-ticketCount {
        font-size: 1.4rem;
        color: $color-grey;
    }
    
    &-buttonContainer {
        display: flex;
    }
    
    &-removeButton, &-addButton {
        flex: 1;
        height: 3.2rem;
        width: 2rem;
        border: 1px solid $color-white;
        border-radius: 2rem;
        background-color: transparent;
        cursor: pointer;
        transform: opacity .2s;
    
        img {
            width: 100%;
            height: 100%;
        }
    
        &:first-child {
            margin-right: 2rem;
        }
    
        &.disable {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .eventTicketPriceRow {
        margin-bottom: 2rem;

        &-removeButton, &-addButton {
            height: 2.4rem;
            width: 2rem;
        }
    }   
}