@import '../../variables/variables.scss';

.eventTicketPriceSide {
    width: 20rem;
    min-width: 20rem;
    height: 31.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: $color-black;
    border-bottom: 5px dotted $color-background;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &-header {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
    }

    &-eventTitle {
        flex: 1;
        font-size: 2rem;
        margin-right: 1rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-returnBackIcon {
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        margin-bottom: auto;

        &--hideActionButtons {
            margin: auto 0;
        }
    }

    &-totalPriceContainer {
        text-align: center;
        font-size: 1.6rem;
    }

    &-text {
        margin-right: 1rem;
    }

    &-price {
        font-size: 1.4rem;
    }
}