@import '../../variables/variables.scss';

.checkout {
    width: 30rem;
    height: 21rem;
    padding: 2rem;
    border-radius: .75rem;
    background: linear-gradient(to top, $color-black, $color-background);
    border: 1px solid $color-black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    &-title {
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .totalPrice {
        display: flex;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 4rem;

        &-text {
            margin-right: auto;
        }
    }

    &-purchaseButton {
        background: transparent;
        
        &--disabled {
            opacity: 0.6;
            cursor: not-allowed;

            &:hover {
                font-size: 1.4rem;
                background-color: transparent !important;
                color: $color-secondary;
            }
        }

        &--loading {
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .checkout {
        &-headerContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
        }

        &-title {
            margin-bottom: 0;
        }

        &-cancelButton {
            width: 2rem;
            height: 2rem;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}