@import '../../variables/variables.scss';

.checkout {
    width: 30rem;
    padding: 2rem;
    border-radius: .75rem;
    background-color: $color-black;

    &-title {
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .totalPrice {
        display: flex;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 4rem;

        &-text {
            margin-right: auto;
        }
    }

    &-purchaseButton {
        &--disabled {
            cursor: not-allowed;
        }

        &--loading {
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}