@import '../../variables/variables.scss';

.checkout {
    width: 30rem;
    padding: 2rem;
    border-radius: .75rem;
    background-color: $color-black;

    &-title {
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .totalPrice {
        display: flex;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 4rem;

        &-text {
            margin-right: auto;
        }
    }

    &-purchaseButton {
        width: 100%;
        padding: 1.5rem 0;
        border: 2px solid $color-secondary;
        border-radius: 0.75rem;
        color: $color-secondary;
        background-color: transparent;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        transition: all .4s;

        &:hover {
            font-size: 1.6rem;
            background-color: $color-secondary;
            color: $color-black;
        }

        &--disabled {
            cursor: not-allowed;
        }
    }
}