@import '../../variables/variables.scss';

.purchasedTicketsPage {
    .purchasedTicketsPageContainer {
        position: relative;
        text-shadow: 0 8px 16px #000000;
        
        &-title {
            margin-bottom: 2rem;
            line-height: 5rem;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
        }

        .orders {
            &-orderContainer {
                margin-bottom: 12rem;
            }

            &-orderDate {
                margin: 0 38rem 4rem 38rem;
                padding-bottom: 1rem;
                border-bottom: 3px solid $color-white;
                text-align: center;
                font-size: 2.5rem;
                font-weight: bold;
                text-transform: uppercase;
            }   

            &-purchasedTicketsContainer {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                border-bottom: 3px solid $color-white;
            }

            &-purchasedTicket {
                margin-bottom: 4rem;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .purchasedTicketsPage {
        .purchasedTicketsPageContainer {
            &-title {
                font-size: 3.2rem;
                letter-spacing: -0.3rem;
                line-height: 3rem;
                margin-bottom: -1.5rem;
                text-align: center;
            }
        }
    }
}