@import '../../../variables/variables.scss';

.imageSlider {
    position: relative;
    width: 95%;
    height: 35rem;
    margin: 0 auto 6rem auto;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

    &-item {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 1rem;
        opacity: 0;
        transition: all 1s ease;

        img {
            width: 100%;
            height: 35rem;
            border-radius: 1rem;
        }

        &.active {
            opacity: 1;
        }
    }

    &-pagination {
        position: absolute;
        left: 50%;
        bottom: -2rem;
        transform: translateX(-50%);
        display: flex;
        z-index: 1;
    }

    &-paginationItem {
        width: 1rem;
        height: 1rem;
        background-color: $color-black;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &.active {
            background-color: $color-primary--dark;
        }
    }

    &-previousButton, &-nextButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        background-color: $color-background;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
    }

    &-previousButton {
        left: 1rem;
        
        img {
            transform: rotate(180deg);
        }
    }

    &-nextButton {
        right: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .imageSlider {
        height: 28rem;

        &-item {
            img {
                height: 28rem;
            }
        }
    }   
}

@media only screen and (max-width: 480px) {
    .imageSlider {
        height: 20rem;

        &-item {
            img {
                height: 20rem;
            }
        }
    }   
}