.accountTab {
    position: relative;

    .accountTabContainer {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-username {
            margin-right: .5rem;
        }
    
        &-moreIcon {
            width: 2rem;
            height: 2rem;
            transform: rotate(-90deg);
    
            img {
                width: 100%;
                height: 100%;
            }
    
            &.active {
                transform: rotate(90deg);
            }
        }
    }

}