@import '../../variables/variables.scss';

.settingsDropdown {
    position: absolute;
    top: 32px;
    right: 0;
    width: 24rem;
    display: flex;
    flex-direction: column;
    color: $color-black;
    background-color: $color-white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
    border-radius: .75rem;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-weight: bold;

        li {
            padding: 1.6rem 2.8rem;
            cursor: pointer;
            transform: all 1s;

            &:first-child,
            &:last-child {
                border-radius: .75rem;
                transition: all .4s;
            }

            &:first-child {
                &:hover {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    box-shadow: 0 8px 16px rgba($color-black, .4);
                }
            }

            &:last-child {
                &:hover {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    box-shadow: 0 -8px 16px rgba($color-black, .4);
                }
            }

            
        }
    }
}

@media only screen and (max-width: 480px) {
  .settingsDropdown {
      width: 18rem;
  }  
}