@import '../../../variables/variables.scss';

.eventsContainer {
    height: 42rem;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        height: 12px;
        border-radius: 10px;

        &-track {
            background-color: #13151C;
            border-radius: 10px;
        }

        &-thumb {
            border-radius: 10px;
            background-color: $color-black;
        }
    }
}
