.eventShowcaseHeader {
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    &-title {
        margin-right: auto;
        font-size: 4.5rem;
    }
    
    &-moreButton {
        width: 7.6rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            .eventShowcaseHeader-text {
                margin-right: .8rem;
            }
        }
    }
    
    &-text {
        margin-right: .6rem;
        transition: all .2s;
    }
    
    &-moreIcom {
        width: 1.8rem;
        height: 1.8rem;
        transform: rotate(180deg);
    
        img {
    
            width: 100%;
            height: 100%;
        }
    }
}

