@import '../../../variables/variables.scss';

.eventShowcaseModule {
    width: 100%;
    min-height: 53rem;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    .eventShowcaseHeader {
        &-title {
            text-shadow: 0 4px 8px $color-black;
        }
    }

    .spinner {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    .eventShowcaseModule {
        min-height: unset;
    }   
}