@import '../../variables/variables.scss';

.favoritesPage {
    .favoritesPageContainer {
        position: relative;
        display: flex;
        flex-direction: column;

        &-title {
            width: 100%;
            margin-bottom: 2rem;
            line-height: 5rem;
            z-index: 1;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        &-content {
            .favoriteEvents {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
    
                .eventTicket {
                    margin: 0 0.5rem 2rem 0.5rem;
                }
            }

            .spinner {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .favoritesPage {
        .favoritesPageContainer {
            &-title {
                font-size: 3.2rem;
                letter-spacing: -0.3rem;
                line-height: 3rem;
                margin-bottom: -1.5rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    .favoritesPage {
        .favoritesPageContainer {
            .favoriteEvents {
                .eventTicket {
                    height: 38.2rem;
                }
    
                .eventTicketInfoSide {
                    min-width: 20rem;
                    height: 32rem;
                }   
            
                .eventTicketPriceSide {
                    width: 16rem;
                    min-width: 16rem;
                    height: 27.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 435px) {
    .favoritesPage {
        .favoritesPageContainer {
            .favoriteEvents {
                justify-content: space-between;

                .eventTicket {
                    height: 36.2rem;
                }

                .eventTicketInfoSide {
                    min-width: 18rem;
                    height: 30rem;

                    &-content {
                        padding: 0 1.5rem 3rem 1.5rem;
                    }
                }  

                .eventTicketPriceSide {
                    width: 14rem;
                    min-width: 14rem;
                    height: 25.5rem;

                    &-header {
                        margin-bottom: 1.5rem;
                    }

                    .eventTicketPriceRow {
                        margin-bottom: 1.5rem;
                    }
                } 
            }
        }
    }
}

@media only screen and (max-width: 395px) {
    .favoritesPage {
        .favoritesPageContainer {
            &-content {
                .favoriteEvents {
                    justify-content: center;
    
                    .eventTicket {
                        height: 42.2rem;
                    }
    
                    .eventTicketInfoSide {
                        min-width: 24rem;
                        height: 36rem;
    
                        &-content {
                            padding: 0 2rem 3rem 2rem;
                        }
                    } 
    
                    .eventTicketPriceSide {
                        min-width: 20rem;
                        height: 31.5rem;
    
                        &-header {
                            margin-bottom: 3rem;
                        }
    
                        .eventTicketPriceRow {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    } 
}