@import '../../variables/variables.scss';

.favoritesPage {
    .favoritesPageContainer {
        position: relative;
        display: flex;
        flex-direction: column;

        &-title {
            width: fit-content;
            margin-bottom: 2rem;
            line-height: 5rem;
            z-index: 1;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        &-content {
            .favoriteEvents {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .eventTicket {
                    height: 42.2rem;
                    margin: 0 0.5rem 6rem 0.5rem;
                }
            }

            .spinner {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .favoritesPage {
        .favoritesPageContainer {
            &-title {
                width: 100%;
                font-size: 3.2rem;
                letter-spacing: -0.3rem;
                line-height: 3rem;
                margin-bottom: -1.5rem;
                text-align: center;
            }

            &-content {
                .favoriteEvents {
                    .eventTicket {
                        height: 37.2rem;
                    }
                }
            }
        }
    }
}