@import '../../variables/variables.scss';

.favoritesPage {
    .favoritesPageContainer {
        position: relative;
        display: flex;
        flex-direction: column;

        &-title {
            width: fit-content;
            margin-bottom: 2rem;
            padding: 0 2rem;
            z-index: 1;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        &-content {
            .favoriteEvents {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .eventTicket {
                    height: 42.2rem;
                    margin: 0 0.5rem 6rem 0.5rem;
                }
            }

            .spinner {
                margin: 0 auto;
            }
        }
    }
}