@import '../../variables/variables.scss';

.toastMessage {
    position: fixed;
    top: 13rem;
    right: 3rem;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border-radius: .75rem;       
    z-index: 3;

    &.success,
    &.warning {
        background-color: $color-black; 
    }

    &.success {
        border: 2px solid green;
    }

    &.warning {
        background-color: red;
    }

    &-closeIcon {
        cursor: pointer;
    }
}