@import '../../variables/variables.scss';

.buyNowEventsPage {
    &-content {
        position: relative;
    }

    .buyNowEventsContainer {
        display: flex;
        flex-direction: column;

        &-title {
            margin-bottom: 2rem;
            line-height: 5rem;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        .spinner {
            align-self: center;
        }

        &-events {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .eventTicket {
                height: 42.2rem;
                margin: 0 .5rem 6rem .5rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .buyNowEventsPage {
        .buyNowEventsContainer {
            &-events {
                .eventTicket {
                    height: 37.2rem;
                }
            }
        }
    }
}