@import '../../variables/variables.scss';

.footer {
    height: 14.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-seperator {
        width: 95%;
        height: 2px;
        margin: 4rem 0;
        background-color: $color-primary--dark;
    }
}