@import '../../variables/variables.scss';

.emptyState {
    width: 80%;
    padding: 10rem 0;
    margin: -6.5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-black;

    &-icon {
        width: 10rem;
        height: 10rem;
        padding: 2rem;
        margin-bottom: 2rem;
        background-color: $color-background;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        font-size: 2.5rem;
    }

    &-redirectButton {
        padding: 2rem 10rem;
        margin-top: 4rem;
        color: $color-white;
        background-color: $color-primary;
        border-radius: 0.5rem;
        font-size: 2.5rem;
        outline: none;
        border: none;
        cursor: pointer;
    }
}