@import '../../variables/variables.scss';

.emptyState {
    width: 80%;
    padding: 10rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-black;

    &-icon {
        width: 10rem;
        height: 10rem;
        padding: 2rem;
        margin-bottom: 2rem;
        background-color: $color-background;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        font-size: 2.5rem;
    }
}