.eventDetailPage {
    &-content {
        position: relative;
        display: flex;
    }

    &-rightSide {
        min-width: 34rem;
        display: flex;
        justify-content: center;
        margin-left: 2rem;

        .eventPriceContainer {
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .eventDetailPage {
        .eventPriceSlip {
            width: 100%;
            height: 24.5rem;
            position: fixed;
            top: unset;
            bottom: 0;
            left: 0;
            z-index: 1;

            &-content {
                display: flex;
            }

            &-eventTitleRow {
                padding-top: 1.5rem;
            }

            .eventTicketPriceRow {
                flex: 1;
                margin-bottom: 1.5rem;

                &:first-child {
                    margin-right: 4rem;
                }
            }

            &-totalPriceContainer {
                padding-bottom: 1.5rem;
            }
        }
    }
}