.eventDetailPage {
    &-content {
        position: relative;
        display: flex;
    }

    &-rightSide {
        min-width: 34rem;
        display: flex;
        justify-content: center;
        margin-left: 2rem;

        .eventPriceContainer {
            padding: 2rem;
        }
    }
}