@import '../../variables/variables.scss';

.thisWeekEventsPage {
    &-content {
        position: relative;
    }

    .thisWeekEventsContainer {
        display: flex;
        flex-direction: column;

        &-title {
            margin-bottom: 4rem;
            line-height: 5rem;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
            text-shadow: 0 8px 16px $color-black;
        }

        .spinner {
            align-self: center;
        }

        &-events {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .eventTicket {
                height: 42.2rem;
                margin: 0 0.5rem 2rem 0.5rem;
            }
        }

        .search {
            margin-bottom: 4rem;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .thisWeekEventsPage {
        &-content {
            .thisWeekEventsContainer {

                &-title {
                    text-align: center;
                }

                .search {
                    margin: 0 auto 4rem auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    .thisWeekEventsPage {
        &-content {
            .thisWeekEventsContainer {
                .search {
                    width: 100%;
                }
                
                &-events {
                    .eventTicket {
                        height: 38.2rem;
                    }
        
                    .eventTicketInfoSide {
                        min-width: 20rem;
                        height: 32rem;
                    }   
                
                    .eventTicketPriceSide {
                        width: 16rem;
                        min-width: 16rem;
                        height: 27.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 435px) {
    .thisWeekEventsPage {
        &-content {
            .thisWeekEventsContainer {
                &-events {
                    justify-content: space-between;

                    .eventTicket {
                        height: 36.2rem;
                    }

                    .eventTicketInfoSide {
                        min-width: 18rem;
                        height: 30rem;

                        &-content {
                            padding: 0 1.5rem 3rem 1.5rem;
                        }
                    }  

                    .eventTicketPriceSide {
                        width: 14rem;
                        min-width: 14rem;
                        height: 25.5rem;

                        &-header {
                            margin-bottom: 1.5rem;
                        }

                        .eventTicketPriceRow {
                            margin-bottom: 1.5rem;
                        }
                    } 
                }
            }
        }
    }
}

@media only screen and (max-width: 395px) {
    .thisWeekEventsPage {
        &-content {
            .thisWeekEventsContainer {
                &-events {
                    justify-content: center;

                    .eventTicket {
                        height: 42.2rem;
                    }

                    .eventTicketInfoSide {
                        min-width: 24rem;
                        height: 36rem;

                        &-content {
                            padding: 0 2rem 3rem 2rem;
                        }
                    } 

                    .eventTicketPriceSide {
                        min-width: 20rem;
                        height: 31.5rem;

                        &-header {
                            margin-bottom: 3rem;
                        }

                        .eventTicketPriceRow {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    } 
}