.signupPage {
    &-content {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .signupPage {
        height: calc(100vh - 15rem);
    }
}