.layout {
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  .layout {
    &-paddingBottom {
      padding-bottom: 18rem;
    }

    .toastMessage {
      &-eventDetail {
        bottom: 26rem;
      }

      &-cart {
        bottom: 21rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
      &-heroImage {
          height: 36.5rem;
      }

      &-heroImageOverlay {
        height: 16rem;
        top: 20.5rem;
      }
  }
}

@media only screen and (max-width: 480px) {
  .layout {
      position: relative;

      &-heroImage {
          height: 26rem;
      }

      &-heroImageOverlay {
        height: 10rem;
        top: 16rem;
      }
  }
}