.layout {
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  .layout {
    .checkout {
      width: calc(100% - 2rem);
      height: 16rem; 
      padding: 1rem;
      position: sticky;
      bottom: -0.5rem;
      left: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background: linear-gradient(to top, #000000, #001519);
      box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.4);
      border: none;
      border-top: 1px solid black;
      z-index: 1;

      &-title {
        margin-bottom: 1rem;
      }

      .totalPrice {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
      &-heroImage {
          height: 36.5rem;
      }

      &-heroImageOverlay {
        height: 16rem;
        top: 20.5rem;
      }
  }
}

@media only screen and (max-width: 480px) {
  .layout {
      position: relative;

      &-heroImage {
          height: 26rem;
      }

      &-heroImageOverlay {
        height: 10rem;
        top: 16rem;
      }
  }
}