.layout {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .layout {
      &-heroImage {
          height: 36.5rem;
      }

      &-heroImageOverlay {
        height: 16rem;
        top: 20.5rem;
      }
  }
}

@media only screen and (max-width: 480px) {
  .layout {
      position: relative;
      padding-bottom: 6rem;

      &-heroImage {
          height: 26rem;
      }

      &-heroImageOverlay {
        height: 10rem;
        top: 16rem;
      }
  }
}