.myTicketsPage {
    &-content {
        position: relative;
        width: 95%;
        max-width: 1024px;
        margin: 12rem auto 0 auto;

        .myTicketsPageContainer {
            margin-bottom: 1rem;
            padding-left: 2rem;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -.6rem;
            word-spacing: 1rem;
        }
    }
}